.container {
  width: min(100% - var(--page-padding) * 2, var(--container-lg));
  margin-inline: auto;
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}

.xl {
  max-width: var(--container-xl);
}
