.section {
  width: 100%;
}

.default {
  padding-block: var(--space-16);
  padding-bottom: 0px;
}

.hero {
  min-height: 100svh;

  display: flex;
  align-items: center;

  padding-top: var(--header-height);
  padding-bottom: var(--space-6);
}

.projects {
  min-height: 100svh;
  display: flex;
  align-items: center;

  padding-block: clamp(3rem, 6vh, 5rem);

  .projects > * {
    width: 100%;
  }
}

.about {
  min-height: 100svh;
  display: flex;
  align-items: center;

  padding-block: clamp(4rem, 8vh, 7rem);

  background: var(--color-sand);
}

.about > * {
  width: 100%;
}

.process {
  min-height: 100svh;

  display: flex;
  align-items: center;

  padding-block: clamp(4rem, 8vh, 7rem);

  background-color: var(--color-background);
}

.process > * {
  width: 100%;
}

.contact {
  min-height: 100svh;

  display: flex;
  align-items: center;

  padding-block: clamp(4rem, 8vh, 7rem);

  background-color: var(--color-sand);
}

.contact > * {
  width: 100%;
}
